BasedOnStyle: LLVM
Language: Cpp
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
IndentWidth: 2
TabWidth: 2
AlignAfterOpenBracket: BlockIndent
DerivePointerAlignment: False
PointerAlignment: Right
AccessModifierOffset: -2
QualifierAlignment: Left
FixNamespaceComments: False
